.fontFamilyMenu {
    width: 150px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.fontFamilyItem {
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.fontFamilyItem:hover {
   font-size: 1.1em;
   color: #0d6efd;
}