.richEditor-media{
    position: relative;
}
.richEditor-media {
    position: relative;
}
.richEditor-media img {
    display: block;
    max-width: 100%;
    font-size: 0;
    resize: both;
    outline-offset: 1px;
} 
.richEditor-media img:hover {
    outline: solid 1px #3498db;
}

.richEditor-media-toolbar {
    position: absolute;
    z-index: 3;
    bottom: 35px;
    left: 50%;
    width: auto;
    background-color: #21242a;
    opacity: 0.9;
    border-radius: 2px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    transform: translateX(-50%);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    user-select: none;
}
.richEditor-media-toolbar a {
    display: inline-block;
    min-width: 40px;
    height: 40px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'braft-icons' !important;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.richEditor-media-toolbar a:hover {
    color: #fff;
}
.richEditor-media-toolbar a:first-child {
    border-radius: 2px 0 0 2px;
}
.richEditor-media-toolbar a:last-child {
    border-radius: 0 2px 2px 0;
}
.richEditor-media-toolbar a.active {
    color: #3498db;
}
.richEditor-media{
    position: relative;
}
.richEditor-image {
    position: relative;
}
.richEditor-image img {
    display: block;
    max-width: 100%;
    font-size: 0;
    resize: both;
    outline-offset: 1px;
}
.richEditor-image img:hover {
    outline: dashed 2px #3498db;
}
.richEditor-image .editor-input {
    border: dashed 1px #3498db;
    height: 35px;
    width: 100%;
    border-radius: 2px;
    font-size: 14px;
}

.richEditor-image-size-editor, .richEditor-image-link-editor {
    padding-bottom: 1px;
    overflow: hidden;
    border-radius: 2px 2px 0 0;
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
}
.richEditor-image-size-editor input {
    width: 120px;
}
.richEditor-image-size-editor .editor-input-group, .richEditor-image-link-editor .editor-input-group {
    width: 100%;
    margin: 8px;
    overflow: hidden;
    font-size: 12px;
    display: flex;
    flex: row;
}
.richEditor-image-size-editor .editor-input-group label, .richEditor-image-size-editor .editor-input-group span, .richEditor-image-link-editor .editor-input-group label {
    height: 32px;
    line-height: 32px;
    color: #fff;
    margin-right: 8px;
}
.switch-group {
    display: flex;
    flex-direction: row;
}
.switch-group label{
    color: #fff;
    font-size: 12px;
    line-height: 32px;
    height: 32px;
}
.switch-group input {
    width: 50px;
}
.richEditor-image-link-editor input {
    float: left;
    box-sizing: content-box;
    height: 32px;
    line-height: 32px;
    margin: 0 8px 0 0;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 2px;
    outline: none;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    width: 220px;
}
.richEditor-image-size-editor input:hover, .richEditor-image-link-editor input:hover {
    box-shadow: inset 0 0 0 1px rgba(52, 152, 219, 0.5);
}
  
.richEditor-image-size-editor input:focus, .richEditor-image-link-editor input:focus {
    box-shadow: inset 0 0 0 1px #3498db;
}
.richEditor-image-size-editor button, .richEditor-image-link-editor button {
    width: 50px;
    height: 32px;
    margin: 0 auto 5px auto;
    font-size: 12px;
    cursor: pointer;
}

.richEditor-csize-icon {
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    background-color: rgba(52, 152, 219, 0.6);
}
.richEditor-csize-icon.right-bottom {
    right: 0;
    bottom: 0;
    cursor: se-resize;
}
.richEditor-csize-icon.left-bottom {
    left: 0;
    bottom: 0;
    cursor: sw-resize;
} 