@font-face {
  font-family: "iconfont"; /* Project id 4212255 */
  src: url('//at.alicdn.com/t/c/font_4212255_5g0upm2b3kr.woff2?t=1697297967822') format('woff2'),
       url('//at.alicdn.com/t/c/font_4212255_5g0upm2b3kr.woff?t=1697297967822') format('woff'),
       url('//at.alicdn.com/t/c/font_4212255_5g0upm2b3kr.ttf?t=1697297967822') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-information:before {
  content: "\e62d";
}

.icon-arrowTop-fill:before {
  content: "\e65d";
}

.icon-fenxiangcopy:before {
  content: "\e613";
}

.icon-collection:before {
  content: "\e653";
}

.icon-comment:before {
  content: "\e671";
}

.icon-like-o:before {
  content: "\e96e";
}

.icon-zhongyingwenqiehuan-xianshizhongyingwen:before {
  content: "\e620";
}

.icon-trending_up:before {
  content: "\eaaf";
}

.icon-remen:before {
  content: "\e62b";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-tuichu:before {
  content: "\e612";
}

.icon-gerenzhongxin:before {
  content: "\e626";
}

.icon-close:before {
  content: "\e69e";
}

.icon-liangdu:before {
  content: "\e63a";
}

.icon-a-15Bliangdu-:before {
  content: "\e67b";
}

.icon-a-15Aliangdu:before {
  content: "\e67a";
}

.icon-denglu:before {
  content: "\e67c";
}

.icon-zhuce:before {
  content: "\e6d6";
}
